<div class="row mx-4 my-4">
    <div class="col-6">
        <h1><%= @lesson.title %> </h1>
        <%= @lesson.video_url %>
    </div>
    <div class="col-6">
        <% if @lesson.serie.user == current_user %>
            <%= form_with model: @lesson, url: lesson_path(@lesson), method: :delete do |form| %>
                <%= form.submit 'Deletar', class: 'btn btn-danger', style: "float: right" %>
            <% end %>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <iframe class="video-container" src="https://www.youtube.com/embed/<%= @lesson.video_url %>" 
                frameborder="0" 
                allowfullscreen>
        </iframe>
    </div>
</div>
 


<h1> Comentarios sobre a Aula:</h1>

 <%= form_with model: @comment, local: true, url: comments_create_path, method: :post, class:"create_series_form" do |form| %>

                
        <%= form.label :content, "Comentario:", class:"create_series_label" %>
        <%= form.text_field :content, required: true, class:"create_series_input" %>
        <%= form.hidden_field :lesson_id, value:@lesson.id  %>
          <%= form.hidden_field :user_id, value: current_user.id %> <!-- Ensure you have user_id if needed -->
         


        

        <%= submit_tag "enviar", class:"create_series_button" %>


    <%end %>

</div>
<% @comments.each do |comment| %> 
<%=comment.content %>

<%end%>

