
<div class="row">
    <div class="col-6 p-4">
        <h1>Minha Séries</h1>
    </div>
    <div class="col-6 p-4">
        <%= link_to "Cadastrar Série", series_new_path, class: "create_series_button", style: "float: right; text-decoration: none" %>
    </div>
</div>

<main>
    <section class="series-list">
        <% @series.each do |series| %>
            <% author = User.find_by_id(series.user_id)%>
            <% if author.is_instructor? %>
                <a href="/series/<%= series.id %>" class="serie">
                    <img class="serie-card-image" src="<%= series.image_url %>" alt="Imagem da Série">
                    <div class="info"> 
                        <h2><%= series.title %></h2>
                        <p><%= series.description %></p>
                        <p style= "font-size: 12px"> Autor: <%= author.name %></p>
                    </div>
                </a>
            <% end %>
        <% end %>
            <!-- Mais itens de série aqui -->
    </section>
</main>



