<!DOCTYPE html>
<html>
  <head>
    <title>Newsletter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUa4d5KeviZH2VnFn2m37GpxABYGHjzGHg2W/ikfSpEFv5xI1pCpU/rNjKsm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6kRmn2R6iCZcftqN8Qw87CkI1Z+Y9MNRyYsj4eyNP6xczgBSjF" crossorigin="anonymous"></script>

    <%= javascript_importmap_tags %>
  </head>

  <header>
    <%= render "layouts/navbar" %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
