<!DOCTYPE html>
<html>
  <head>
    <title>Newsletter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <header>
    <nav>
      <%= link_to 'E-Learning', '#', class: 'logo' %>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><%= link_to 'Inicio', '#inicio' %></li>
        <li><%= link_to 'Curso', '#curso' %></li>
        <li><%= link_to 'Projetos', '#projetos' %></li>
        <% if current_user.present? %>
          <li style="color: #fff">Olá, <%= current_user.name %></li>
        <% else %>
          <li><%= link_to 'Login', '#login' %></li>
          <li><%= link_to 'Cadastro', '#cadastro' %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
